* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  background-color: #f6f6fe;
  padding: 16px;
  max-width: 392px;
}

.t1-title-list {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.t1-list-cat {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.t1-item-cat {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 15px;
  justify-content: center;
}

.gallery-item {
  flex-basis: calc((100% - 64px) / 3);
  border-radius: 5px;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.t3-input {
  min-width: 360px;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 24px;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.t3-input::placeholder {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.t3-title {
  margin-left: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form {
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.t4-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.t4-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.t4-form-btn {
  margin-top: 8px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 86px;
  min-height: 40px;
  background-color: #4e75ff;
  margin-right: auto;
  border: none;
}

.widget {
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.t5-text {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.change-color {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 148px;
  min-height: 40px;
  background-color: #4e75ff;
  border: none;
}
